/* 公共样式 */
body,
dl,
dd { margin: 0; }

h1,h2 {
	margin: 0;
}

h2 {
	font-size: 16px;
	font-weight: normal;
}

body {
	font-family: "Helvetica Neue", Helvetica, "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC","microsoft yahei ui", "Microsoft YaHei", "WenQuanYi Micro Hei","Segoe UI", Arial, sans-serif;
	font-size: 14px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

/* header结构 */
.logo {	overflow: hidden; }
.logo h1 { float: left; }
.logo dl { float: right; }

.logo a {
	display: block;
	width: 217px;
	height: 63px;
	text-indent: -9999px;
	background: url(images/logo.gif) no-repeat;
}

.logo dl { 
	font-size: 12px; 
	margin-top: 15px;
}

.logo dl dt { font-weight: bold; }

.nav {
	margin: 10px 0;
	background: url(images/navbg.gif) no-repeat;
}

.nav ul { 
	height: 36px; 
	padding: 0 20px;
}

.nav ul li {
	float: left;
	padding: 0 20px;
/*	margin: 0 20px;*/
  text-align: center;
}

.nav .Q_lab {
	float: right;
	background: url(images/arrow_r.gif) 0 8px no-repeat;
}

.nav a {
	margin-top: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
}
.nav a:hover { text-decoration: none; }

.active a {
	display: block;
	width: 88px;
	background: url(images/home.gif) no-repeat;
  color: #000; 
}

/* content */
.content { 
	width: 600px;
	overflow: hidden;
}

.main .content,
.main .sidebar {
	float: left;
}

.main .sidebar {
	width: 280px;
	margin-left: 30px;
}

.main .text {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 1px solid #CCE6F5;
}

.content h2 span {
	float: right;
	font-size: 12px;
}


.software_list li {
	margin: 10px 0;
	overflow: hidden;
}

.software_list dt a {
	font-weight: bold;
}

.software_list li dl{
	float: left;
	padding-left: 48px;
	background-position: 0 4px;
}

.software_list li span {
	float: right;
	font-size: 12px;
}

.software_list .down,
.sidebar .down {
	padding-left: 15px;
	background: url(images/downicon.gif) 0 2px no-repeat;
}

.software_list .sw01 { background: url(images/icon_1.gif) no-repeat; }
.software_list .sw02 { background: url(images/icon_2.gif) no-repeat; }
.software_list .sw03 { background: url(images/icon_3.gif) no-repeat; }
.software_list .sw04 { background: url(images/icon_4.gif) no-repeat; }
.software_list .sw05 { background: url(images/icon_5.gif) no-repeat; }
.software_list .sw06 { background: url(images/icon_6.gif) no-repeat; }

.sidebar .news li {
	overflow: hidden;
	line-height: 1.8em;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar .recomment { overflow: hidden; }

.sidebar .recomment li span {
	float: right;
}
=======
.logo dl dt { font-weight: bold; }
