/* 公共样式 */
body,
dl,
dd { margin: 0; }

h1 {
	margin: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC","microsoft yahei ui", "Microsoft YaHei", "WenQuanYi Micro Hei","Segoe UI", Arial, sans-serif;
	font-size: 14px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

/* header结构 */
.logo {	overflow: hidden; }
.logo h1 { float: left; }
.logo dl { float: right; }

.logo a {
	display: block;
	width: 217px;
	height: 63px;
	text-indent: -9999px;
	background: url(images/logo.gif) no-repeat;
}

.logo dl { 
	font-size: 12px; 
	margin-top: 15px;
}
.logo dl dt { font-weight: bold; }